<% resources.each do |holiday| %>
  <tr>
    <td><%= holiday.holiday_name %></td>
    <td><%= holiday.holiday_date&.strftime('%d-%b-%Y -  %A') %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_holiday_path(holiday.id) %></td>
      <td><%= link_to 'Delete', holiday_path(holiday.id), method: :delete , data: {confirm: "Are you sure?"} %></td>
    <% end %>
  </tr>
<% end %>