<p>Welcome <%= @email %>!</p>

<p>You can login with below credentails and link <%= link_to 'Login', 'https://tps-hrms.herokuapp.com/users/sign_in' %>.</p>

<p>Email: <%= @email %></p>
<p>Password: <%= @password %></p>


