
<div class="col s12">
  <div class="card">
    
    <div class="card-content">
      <div class="card-title">
          <span class="font-22">Birthday / Anniversary</span>
       
      </div>
      <div id="calendar"></div>
    </div>
  </div>
</div>
<div class="col s12">
<p>Blue Color: Anniversary</p>
<p>Green Color: Birthday</p>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      eventLimit: true,
      eventLimit: true,
      eventSources: [
        '/users/user_data',
        '/users/recurring_user_data'
      ]
    });
  });
</script>
