<div class="col s12">
  <div class="card">
    <div class="card-content">
      <h4 class="card-title">
      </h4>
      <div id="calendar"></div>
    </div>
  </div>
</div>

<p>Blue Color: Anniversary</p>
<p>Green Color: Birthday</p>

<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      eventLimit: true,
      eventLimit: true,
      eventSources: [
        '/users/user_data',
        '/users/recurring_user_data'
      ]
    });
  });
</script>
