 <div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h4 class="card-title">Designations</h4>
                <p>Effective from 1st April 2019</p>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th data-field="id">Id</th>
                      <th data-field="id">Name</th>
                      <th data-field="name">Designation</th>
                      <th data-field="price">Mentor Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td colspan="4"><h5><b>Project Manager</b></h5></td></tr>
                    <tr>
                      <td>1</td>
                      <td>Paresh Gandhi - paresh@techplusteam.com</td>
                      <td>Sr. Project Manager / QA Leader to Sr. Project Manager</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>

                    <tr><td colspan="4"><h5><b>ROR</b></h5></td></tr>

                    <tr>
                      <td>2</td>
                      <td>Nency wadhvana - nency@techplusteam.com</td>
                      <td>Jr. Developer to Jr. Project Leader</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>3</td>
                      <td>Kinjal Thakkar - kinjal.t@techplusteam.com</td>
                      <td>Jr. Developer to Sr. Web Developer</td>
                      <td>Nency Wadhvana</td>
                    </tr>


                    <tr>
                      <td>4</td>
                      <td>Tanay Sharma - tanays.tps@gmail.com</td>
                      <td>Jr. Developer to Sr. Web Developer</td>
                      <td>Nency Wadhvana</td>
                    </tr>


                    <tr>
                      <td>5</td>
                      <td>Parul Kanani - parul@techplusteam.com</td>
                      <td>Jr. Developer to Sr. Web Developer</td>
                      <td>Nency Wadhvana</td>
                    </tr>


                    <tr><td colspan="4"><h5><b>PHP</b></h5></td></tr>

                    <tr>
                      <td>6</td>
                      <td>Jigar Patel - jigar@techplusteam.com</td>
                      <td>Project Leader to Sr. Project Leader</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>7</td>
                      <td>Chintan Kulkarni - chintan@techplusteam.com</td>
                      <td>Sr. Developer to Sr. Web Developer</td>
                      <td>Jigar Patel</td>
                    </tr>


                    <tr>
                      <td>8</td>
                      <td>Richa Desai- tanays.tps@gmail.com</td>
                      <td>Jr. Developer to Sr. Web Developerr</td>
                      <td>Jigar Patel</td>
                    </tr>


                    <tr>
                      <td>9</td>
                      <td>Dipesh Sukhia - dipesh@techplusteam.com</td>
                      <td>Jr. Developer to Sr. Web Developer</td>
                      <td>Jigar Patel</td>
                    </tr>

                    <tr>
                      <td>10</td>
                      <td>Bhavin Gajjar - bhavin@techplusteam.com</td>
                      <td>Jr. Developer to Sr. Web Developer</td>
                      <td>Jigar Patel</td>
                    </tr>

                    <tr>
                      <td>11</td>
                      <td>Nikita Vagadiya - nikitav.tps@gmail.com</td>
                      <td>Jr. Developer to Jr. Web Developer</td>
                      <td>Jigar Patel</td>
                    </tr>

                    <tr>
                      <td>12</td>
                      <td>Vatsal Rami - vatsal@techplusteam.com</td>
                      <td>Jr. Developer to Jr. Web Developer</td>
                      <td>Jigar Patel</td>
                    </tr>


                    <tr><td colspan="4"><h5><b>Frontend</b></h5></td></tr>

                    <tr>
                      <td>13</td>
                      <td>Binoli Modi - binoli@techplusteam.com</td>
                      <td>Jr. Designer to Sr. Frontend + Assistant Project Manager</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>14</td>
                      <td>Soham Pandya - soham@techplusteam.com</td>
                      <td>Jr. Developer to Sr. Web Developer</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>15</td>
                      <td>Prashant Shah - prashant@techplusteam.com</td>
                      <td>Jr. Developer to Sr. Web Developer</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>

                    <tr><td colspan="4"><h5><b>Unity</b></h5></td></tr>

                    <tr>
                      <td>16</td>
                      <td>Viral Panchal - viral@techplusteam.com</td>
                      <td>Jr. Designer to Sr. Frontend + Assistant Project Manager</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>17</td>
                      <td>Rajeshree Gajjar - rajeshreetps@outlook.com</td>
                      <td>Jr. Developer to Sr. Web Developer</td>
                      <td>Viral Panchal</td>
                    </tr>


                    <tr><td colspan="4"><h5><b>QA</b></h5></td></tr>

                    <tr>
                      <td>18</td>
                      <td>Karan Dave - karan@techplusteam.com</td>
                      <td>Quality Analyst to Sr. Quality Analyst</td>
                      <td>Paresh Gandhi</td>
                    </tr>


                    <tr>
                      <td>19</td>
                      <td>Unnati Shah - unnati@techplusteam.com</td>
                      <td>Jr.Quality Analyst</td>
                      <td>Paresh Gandhi</td>
                    </tr>


                    <tr>
                      <td>20</td>
                      <td>Honey Shah - honey@techplusteam.com</td>
                      <td>Jr.Quality Analyst</td>
                      <td>Paresh Gandhi</td>
                    </tr>


                    <tr>
                      <td>21</td>
                      <td>Labdhi Shah - labdhitps@outlook.com</td>
                      <td>Jr.Quality Analyst</td>
                      <td>Paresh Gandhi</td>
                    </tr>


                    <tr><td colspan="4"><h5><b>Admin</b></h5></td></tr>

                    <tr>
                      <td>22</td>
                      <td>Neha Patadiya - hr@techplussoftware.com</td>
                      <td>Accountant / Admin to Sr. Accountant + Support</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>23</td>
                      <td>Hemali Gadani - info@techplussoftware.com</td>
                      <td>Director</td>
                      <td>Self</td>
                    </tr>


                    <tr>
                      <td>24</td>
                      <td>Bhaumik Gadani - info@techplussoftware.com</td>
                      <td>Director</td>
                      <td>Self</td>
                    </tr>



                    <tr><td colspan="4"><h5><b>Consultants</b></h5></td></tr>

                    <tr>
                      <td>25</td>
                      <td> Kinjal Upadhyay (Part time consultant)</td>
                      <td>Sr. Laravel Developer </td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>26</td>
                      <td>Khushbu (Part time consultant)</td>
                      <td>Sr. QA </td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>27</td>
                      <td>Dhara Pradhan (Part time consultant)</td>
                      <td>Jr. QA</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>

                      <tr>
                      <td>28</td>
                      <td>Yash (Full time consultant)</td>
                      <td>Sr. Laravel Developer</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>29</td>
                      <td>Harsh (Full time consultant)</td>
                      <td>Sr. Android Developer</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>


                    <tr>
                      <td>30</td>
                      <td>Maulik (Full time consultant)</td>
                      <td>Jr. Android Developer</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>

                     <tr>
                      <td>31</td>
                      <td>Sagar Rabadiya (on-demand help - Consultant)</td>
                      <td>Sr. Tech Lead </td>
                      <td>Bhaumik & Hemali</td>
                    </tr>

                     <tr>
                      <td>32</td>
                      <td>Kaushal Zala</td>
                      <td>Consultant Accountant</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>

                    <tr>
                      <td>33</td>
                      <td>Shaunak Mehta - shaunak@techplussoftware.com</td>
                      <td>Sales Manager (Canada)</td>
                      <td>Bhaumik & Hemali</td>
                    </tr>

                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  tr{
    border: none !important;
  }
</style>