<div id="app-calendar">
    <div class="row">
      <div class="col s3">
        <div class="card">
          <div class="card-content">
            <div class="user_leaves_table">
              
            </div>

          </div>
        </div>
      </div>
      <div class="col s9">
        <div class="card">
          <div class="card-content">
            <h4 class="card-title">
            </h4>
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- <script type="text/javascript">
    $(document).on("click", ".table-borderless td", function(e) {
    var user_id = $(this).attr('id');
    $('.leave_table').find('tr').removeClass("active_class");
    $(this).closest('tr').addClass("active_class");

    get_user_events(user_id)
  }); 
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      eventLimit: true,
      events: '/leaves/get_events',
    });
  });

  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      eventLimit: true,
      events: '/leaves/get_events',
      viewRender : function (view, element) {
        var date = $("#calendar").fullCalendar('getDate');
        var month = date.month() + 1;
        var year = date.year();
        console.log(month)
        // debugger
        // $.ajax({
        //   type: "GET", 
        //   url: "/leaves/get_user_leaves",
        //   data: {month: month, year: year}
        //   // dataType: 'script'
        //   // success: function(data){
        //   //   debugger
        //   //   console.log(JSON.stringify(data))
        //   // }
        // })
      }
    });
  });

  function get_user_events(user_id) {
    $.ajax({
      type: "GET", 
      url: "/leaves/get_events",
      data: {user_id: user_id},
      success: function(data){
        $("#calendar").fullCalendar('removeEvents'); 
        $("#calendar").fullCalendar('addEventSource', data); 
      }
    })
  }
</script> -->

<script>
  $(document).on("click", ".table-borderless td", function(e) {
    var user_id = $(this).attr('id');
    $('.user_leaves_table').find('tr').removeClass("active_class");
    $(this).closest('tr').addClass("active_class");
    get_user_events(user_id)
  }); 
  // $(document).ready(function() {
  //   $('#calendar').fullCalendar({
  //     editable: false,
  //     eventLimit: true,
  //     events: '/leaves/get_events',
  //   });
  // });


  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      eventLimit: true,
      events: '/leaves/get_events',
      viewRender : function (view, element) {
        $('#calendar').fullCalendar( 'removeEvents');
        var date = $("#calendar").fullCalendar('getDate');
        var month = date.month() + 1;
        var year = date.year();
        console.log(month)
        // debugger
        $.ajax({
          type: "GET", 
          url: "/leaves",
          data: {month: month, year: year},
          dataType: 'script',
          success: function(data){
            // debugger
            // console.log(JSON.stringify(data))
          }
        })
      }
    });
  });


  function get_user_events(user_id) {
    $.ajax({
      type: "GET", 
      url: "/leaves/get_events",
      data: {user_id: user_id},
      success: function(data){
        $("#calendar").fullCalendar('removeEvents'); 
        $("#calendar").fullCalendar('addEventSource', data); 
      }
    })
  }

</script>
<style type="text/css">
  .fc-sun { color:red; }
  .fc-sat { color:red;  }
</style>