<div id="app-calendar">
    <div class="row">
      <div class="col l3 m4 s12">
        <div class="card">
          <div class="card-content">
            <div class="user_leaves_table">
              
            </div>

          </div>
        </div>
      </div>
      <div class="col l9 m8 s12">
        <div class="card">
          <div class="card-content">
            <h4 class="card-title">
            </h4>
            <div class="row">
              <div class="form-check wfh_wrap">
                <input type="checkbox" class="form-check-input" id="workfromhome">
                <label class="form-check-label wfh_label" for="workfromhome">Show work from home</label>
              </div>
            </div>
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- <script type="text/javascript">
    $(document).on("click", ".table-borderless td", function(e) {
    var user_id = $(this).attr('id');
    $('.leave_table').find('tr').removeClass("active_class");
    $(this).closest('tr').addClass("active_class");

    get_user_events(user_id)
  }); 
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      eventLimit: true,
      events: '/leaves/get_events',
    });
  });

  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      eventLimit: true,
      events: '/leaves/get_events',
      viewRender : function (view, element) {
        var date = $("#calendar").fullCalendar('getDate');
        var month = date.month() + 1;
        var year = date.year();
        console.log(month)
        // debugger
        // $.ajax({
        //   type: "GET", 
        //   url: "/leaves/get_user_leaves",
        //   data: {month: month, year: year}
        //   // dataType: 'script'
        //   // success: function(data){
        //   //   debugger
        //   //   console.log(JSON.stringify(data))
        //   // }
        // })
      }
    });
  });

  function get_user_events(user_id) {
    $.ajax({
      type: "GET", 
      url: "/leaves/get_events",
      data: {user_id: user_id},
      success: function(data){
        $("#calendar").fullCalendar('removeEvents'); 
        $("#calendar").fullCalendar('addEventSource', data); 
      }
    })
  }
</script> -->

<script>
  $(document).on("click", ".table-borderless td", function(e) {
    var user_id = $(this).attr('id');
    $('.user_leaves_table').find('tr').removeClass("active_class");
    $(this).closest('tr').addClass("active_class");
    get_user_events(user_id)
  }); 
  // $(document).ready(function() {
  //   $('#calendar').fullCalendar({
  //     editable: false,
  //     eventLimit: true,
  //     events: '/leaves/get_events',
  //   });
  // });


  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      eventLimit: true,
      events: '/leaves/get_events',
      showNonCurrentDates: false,
      eventRender: function(event, eventElement) {
        if (event.color == "#fff8f8") {
          eventElement.css("color", "#9e2e2e");
          eventElement.css("font-size", "15px");
          eventElement.css("background-color", "#ffe8e8");
          $('.fc-bg .fc-widget-content[data-date]').filter(function () {
            if ($(this).data('date') == event["start"]["_i"]) {
              $(this).css("background-color", "#fff8f8");
              console.log($(this).data('date'));
            }
          })
        }
      },
      viewRender : function (view, element) {
        $('#calendar').fullCalendar( 'removeEvents');
        var date = $("#calendar").fullCalendar('getDate');
        var month = date.month() + 1;
        var year = date.year();
        console.log(month)
        // debugger
        $.ajax({
          type: "GET", 
          url: "/leaves",
          data: {month: month, year: year},
          dataType: 'script',
          success: function(data){
            // debugger
            // console.log(JSON.stringify(data))
          }
        })
      }
    });

    $('#workfromhome').change(function() {
        if(this.checked) {
          get_work_from_home_events(true)
        }
        else{
          get_work_from_home_events(false)
        }
    });
  });


  function get_user_events(user_id) {
    $.ajax({
      type: "GET", 
      url: "/leaves/get_events",
      data: {user_id: user_id},
      success: function(data){
        $("#calendar").fullCalendar('removeEvents'); 
        $("#calendar").fullCalendar('addEventSource', data); 
      }
    })
  }

  function get_work_from_home_events(is_checked) {
    $.ajax({
      type: "GET", 
      url: "/leaves/get_events",
      data: {is_wfh: is_checked},
      success: function(data){
        $("#calendar").fullCalendar('removeEvents'); 
        $("#calendar").fullCalendar('addEventSource', data); 
      }
    })
  }

</script>