/*
 *= require_tree .
 *= materialize
 *= style
 *= login
 *= forgot
 *= require material_icons
 *= require app-calendar
 *= require materialize.min
 *= require jquery.dataTables.min
 *= require_self
 *= require fullcalendar
 *= require custom
 */

.profile-img{box-shadow: 0px 0px 15px #ddd;}
.session_evenet .collapsible-body{padding:1rem;}
.session_evenet li{position: relative;}
.session_evenet li::before { 
  content: '';
  position: absolute;
  right: 20px;
  top: 16px;
  width: 3px;
  height: 12px;
  background-color: #ff9100;
  transform: rotate(-45deg);
  transition: all 0.2s;
}

.session_evenet li.active::before { 
  top: 16px;
  right: 22px;
  height: 18px;
  transform: rotate(45deg);
}

.session_evenet li::after { 
  content: '';
  position: absolute;
  right: 20px;
  top: 23px;
  width: 3px;
  height: 12px;
  background-color: #ff9100;
  transform: rotate(45deg);
  transition: all 0.2s;
}

.session_evenet li.active::after { 
  right: 22px;
  top: 16px;
  height: 18px;
  transform: rotate(135deg);
}

@media (max-width: 991px) {
.sm-mt-10{margin-top:10px;}
}
