/*
 *= require_tree .
 *= materialize
 *= style
 *= login
 *= forgot
 *= require material_icons
 *= require app-calendar
 *= require materialize.min
 *= require jquery.dataTables.min
 *= require_self
 *= require fullcalendar
 */
.profile__avatar {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}
.select_width{
  width: 230px;
}
