/*
 *= require_tree .
 *= materialize
 *= style
 *= login
 *= forgot
 *= require material_icons
 *= require app-calendar
 *= require materialize.min
 *= require jquery.dataTables.min
 *= require_self
 *= require fullcalendar
 */
.profile__avatar {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}
.select_width{
  width: 230px;
}
.red_font_clr
  {
    color: red;
  }
.custom-Card{
    overflow: visible;
  }
  nav.clean {
  background: none;
  box-shadow: none;
}
nav.clean .breadcrumb {
  color: black;
  font-size: 14px;
}
nav.clean .breadcrumb:before {
  color: rgba(0, 0, 0, 0.7);
}

.active_class{
  background-color: rgba(0, 0, 0, 0.1);
}
.leave_table{
  cursor: pointer;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
 /* Profile photo css start */
  #user_pic_span {
    cursor: pointer;
  }
 /* Profile photo css end */

/*datatable font css start*/
.dataTables_wrapper, .user_table, #app-calendar, #view-borderless-table {
  font-size: 16px !important;
  font-weight: normal !important;
}
/*datatable font css end*/


.float-right-cls {
  float: right;
}

.mr-20
{
  margin-right: 20px !important;
}

.font-22
{
  font-size: 22px;
  color: #232b2b;
}

.O-visible{
  overflow: visible;
}