.upcoming-card .collection .collection-item.avatar{min-height: auto;}
.upcoming-card .collection{border:0;background-color:transparent;}
.upcoming-card .collection .collection-item{border-bottom:0px;}
.upcoming-card .collection .collection-item.avatar .material-icons{
  position: absolute;
    top: 16px;
    right: 16px;
    float: right;
    color: #ff9100;
}
.fc-sun { background: #fff8f8; }
.fc-sat { background: #fff8f8; }
.fc-disabled-day { background: #fff8f8 !important; opacity: 1 !important; }
#workfromhome {
opacity: initial; 
position: relative;
pointer-events: auto;
}
.wfh_label{
position: relative;
bottom: 2px;
font-size: 14px;
}
.wfh_wrap{
float: right;
margin-right: 15px;
margin-bottom: 5px;
}
.modal-footer-wrap{
  padding: 0px 20px !important;
}