<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h3 class="card-title"><b>Employee Handbooks<b></h3>
              </div>
              <div class="col s12 m6 l2">
                <ul class="">
                  <% if current_user.admin? %>
                    <li><%= link_to 'ADD', new_employee_handbook_path, class: "btn cyan waves-effect waves-lightc " %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12">
                <% @resources.each do |handbook| %>
                  <div>
                    <%= handbook.section %>
                    <%= handbook.content.html_safe %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
